.signup-buttons {
  padding: 30px 0 10px 0;
}

.logo {
  padding: 0 10px 0 0 !important;
}

.formError {
  color: red;
}

.fieldInvalid {
  border-color: red !important;
}

.icon-bar {
  margin: 10px 0;
}

.notFound {
  margin-top: 75px;
}