.signup-buttons {
  padding: 30px 0 10px 0;
}

.logo {
  padding: 0 10px 0 0 !important;
}

.formError {
  color: red;
}

.fieldInvalid {
  border-color: red !important;
}

.fieldInvalid textarea {
  border-color: red !important;
}

.icon-bar {
  margin: 10px 0;
}

.notFound {
  margin-top: 75px;
}

.landingText {
  color: white;
  text-align: center;
  font-family: calibri;
  font-size: 15px
}

.landingContainer {
  background-color: #1B1C1D;
  height: 400px;
}

.deleteIcon {
  background-color: white !important;
  z-index: 2 !important;
}

.listingCard {
  z-index: 1 !important;
}
