body {
  background-image: url('/client/src/assets/p6.png');
}

.signup-buttons {
  padding: 30px 0 10px 0;
}

.logo {
  padding: 0 10px 0 0 !important;
}

.formError {
  color: red;
}

.fieldInvalid {
  border-color: red !important;
}

.fieldInvalid textarea {
  border-color: red !important;
}

.fieldInvalid input {
  border-color: red !important;
}

.icon-bar {
  margin: 10px 0;
}

.notFound {
  margin-top: 75px;
}

.landingText {
  color: white;
  text-align: center;
  font-family: calibri;
  font-size: 15px
}

.landingContainer {
  background-color: #1B1C1D;
  height: 400px;
}

.deleteIcon {
  background-color: white !important;
  z-index: 2 !important;
}

.listingCard {
  z-index: 1 !important;
}

.raptorStar {
  width: 20px;
  height: 20px;
}

.allRatings {
  float: right;
}

.ratingContent textarea {
  width: 600px !important;
}

.cardBody {
  color: black !important;
}

.profileContainer {
  font-size: 20px;
  border: 1px;
  border-color: black;
}

.dateHeader {
  font-size: 16px !important;
}

.ratingsHeader {
  font-size: 14px !important;
  padding: 14px 0 0 0 !important;
  color: #4183C4 !important;
}

.dashboardCard {
  height: 160px !important;
}
